.signInContainer {
padding-top: 80px;
  /* padding-left: 80px;   */
  
}
.adminLog{
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminLog h2 {
  text-align: center;
}
.centerSignIn{
   display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsContainer{
  margin-top: 25px;
  display: flex;
 
}

.forgotPassword{
  text-decoration: underline;
  margin-top: 15px;
  margin-right: 80px;
  font-size: 14px;
  transition: ease 0.2s;
}

.forgotPassword:hover{
color: var(--buttonColor);
cursor: pointer;
}


.image-container {
  width: 1000px;
  height: 500px;
  background-image: url('image/food.png'); /* Replace with the path to your image */
  background-size: 1000px 500px;
  position: relative;
}



.boxContainer{
  display: flex;
}

.imageBox{

}

#signInImage {
  width: 80%;
  margin-left: 10%;
  transform-origin: top left;
  transition: transform 0.5s ease;
}

.photo-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  perspective: 1000px; /* Perspective for 3D effect */
}

img {
  width: 100%;
  height: auto;
  transition: transform 2s ease; /* You can adjust the duration and timing function */
}




.imgContainerTextSign{
  padding: 50px;
  margin-left: 100px;
}

.newHereContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.newHereButton{
  margin-left: 18px;
  margin-top: 5px;
}
.whiteH2{
  color: var(--color2) !important;
}
.image{
  width: 900px;
  height:500px;
}
.newHereContainer {
  display: flex;
  justify-content: flex-end;  /* Align to the right */
  align-items: flex-start;    /* Align to the top */
  position: absolute;
  top: 20px;
  right: 20px;
}
