.signInContainer {
padding-top: 80px;
  /* padding-left: 80px;   */
  
}
.adminLog{
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminLog h2 {
  text-align: center;
}
.centerSignIn{
   display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsContainer{
  margin-top: 25px;
  display: flex;
 
}

.forgotPassword{
  text-decoration: underline;
  margin-top: 15px;
  margin-right: 80px;
  font-size: 14px;
  transition: ease 0.2s;
}

.forgotPassword:hover{
color: var(--buttonColor);
cursor: pointer;
}


.imageContainerSignIn{
  right: 0;
  width: 55%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  

  /* Add a border to visualize the effect */


}

.boxContainer{
  display: flex;
}

.imageBox{

}

#signInImage {
  width: 80%;
  margin-left: 10%;
  transform-origin: top left;
  transition: transform 0.5s ease;
}

.photo-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  perspective: 1000px; /* Perspective for 3D effect */
}

img {
  width: 100%;
  height: auto;
  transition: transform 2s ease; /* You can adjust the duration and timing function */
}

#photo2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateX(180deg); /* Initial upside-down position */
}

.rotateAnimation {
  transform: rotateX(180deg); /* Rotate to upside-down position */
  opacity: 1; /* Make the second photo visible */
}


.imgContainerText{
  margin-left: 10px;
  padding: 10px;
}

.newHereContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.newHereButton{
  margin-left: 18px;
  margin-top: 5px;
}
.whiteH2{
  color: white !important;
}

.newHereContainer {
  display: flex;
  justify-content: flex-end;  /* Align to the right */
  align-items: flex-start;    /* Align to the top */
  position: absolute;
  top: 20px;
  right: 20px;
}
