.imageDiv{
    display :flex ;
    align-items:center;
    padding:5px;
}
.Logo{
    width:85px;
    padding:10px
}

.nav{
    background-color:#e8e8e8;
    padding:10px;
    position:fixed;
}
.brand{
    display:flex;
    padding:5px;
    margin:0;
}

.navContainer{
     /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; */
}