.imagediv {
    border-radius: 8px;
    overflow: hidden;
    margin-right: 12px;
}

.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;

}

.detaildiv {
    padding: 8px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}
.detail {
    margin-left:5px;
}
.tag {
    font-size: 0.55rem;
    color: #333;
}
.liketag {
    font-size: 0.85rem;
    color: #333;
    margin-top: 15px;
}



.title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.mainContainner{
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    
}
.title-likes-container {
    display: flex;
    flex-direction: column;
  }
  
  .likes-container {
    display:flex;
    alignItems: center;
  }
  .showposttitle{
    font-size: 16px;
    font-weight: 600 !important;
    color: #333;
    margin-left: 5px;
  }
  .createdate{
    font-size: 0.6rem;
        color: gray;
     
  }
  .titledata{
    margin-top:5px;
    margin-left: 5px;
  }
  .mainshowdetail{
    background-color: #fff;
  border-radius: 5px;
  height: 235px;
  }
  .commentshow{
    display:flex;
    alignItems: center;
  }