.pagination .page-item.active .page-link {
    background-color: #ffdcdc; /* Change this to the desired background color */
    color: #990000; /* Change this to the desired text color */
    border: #990000;
    
}





.page-item a{
    outline: none !important;
     box-shadow: none !important; 
     color: rgb(91, 91, 91);
}

 .form-control::placeholder {
    font-size: 16px; 
  }

  .userDetails-container:hover{
    background-color: #f9eeee82;
    border-radius: 6px;
    cursor:pointer;
  }
